* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

body {
    background-color: #4b4b4b;
    color: #fff;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 42px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 18px;
    background-color: #fdfdfd;
    border: 1px solid #509cff;
    padding: 8px;
}

form button {
    background-color: #509cff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
    background-color: #eee7d7;
    color: black;
}

table td {
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(80, 156, 255, 0.5);
}

table th {
    border-bottom: 2px solid rgba(80, 156, 255, 0.5);
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}